/* псевдоклассы доч елем */

/* only-child - единственный ребенок родителя
only-of-type - единственный в своем роде
 */
.parent {
  font-weight: bold;
}

.A:only-child {
  color: red;
}

h2:only-of-type {
  color: hotpink;
}
